<Settings>
    <Sitecore>
        <XConnect>
        <Services>
            <DescriptorLocator>
            <Options>
                <PredicateDescriptors>
                    <PreferredCinemaMatches>
                        <id>{BB26C2AB-B201-426A-9C46-4E707CBB0807}</id>
                        <type>LV.AirPolution.Rules.Conditions.CheckAirQualityCondition, LV.AirPolution</type>
                    </PreferredCinemaMatches>
                </PredicateDescriptors>
            </Options>
            </DescriptorLocator>
        </Services>
        </XConnect>
    </Sitecore>
</Settings>