
@{
    Layout = null;
}
<div class="row sign-up">
    <div class="col-md-6">
        <p>Please sign up using your email adress. Also, don't forget obout allowing to use localization in your browser. It is important if you would like to see how it works.</p>
        <input type="text" placeholder="Email address"/>
        <button id="sign-up-btn">Sign up / Sign In</button>
    </div>
</div>